.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    padding: 2%;
}
.menu_product {
    width: 100%;
    border-right: 2px solid grey;
    line-height: 4;
}
.main .menu_product form {
    padding: 1% 3%;
    width: 100%;
    height: 70vh;
    line-height: 3.5;
}

.main form select,
.main form input {
    width: 100%;
    height: 35px;
    border-radius: 7px;
    border: 0.5px solid grey;
    background-color: white;
    font-size: 1em;
    padding: 0.5%;
}
.menu_buy {
    padding: 2% 3%;
}
.span {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;
    gap: 1%;
    width: 100%;
}
.button_add {
    width: 100%;
    background-color: rgb(135, 101, 215);
    cursor: pointer;
    font-weight: 700;
    height: 35px;
    border-radius: 7px;
    border: none;
    font-size: 1em;
}

.button_add:hover {
    color: white;
}
.main .menu_product form {
    padding: 1% 3%;
    width: 100%;
    height: 70vh;
    line-height: 3.5;
}
.divTable {
    width: 100%;
    height: 80%;
}
.table_products {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    line-height: 2;
}

.table_products thead tr th {
    text-align: left;
    border-bottom: 1px solid rgb(163, 163, 163);
    border-right: 1px solid rgb(163, 163, 163);
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.button_delete {
    background-color: white;
    border: none;
    color: rgb(167, 62, 62);
    font-size: 1em;
}

.button_delete:hover {
    color: red;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.5;
}

.buttons_bottom {
    display: block;
    margin-top: 5%;
    text-align: right;
    font-size: 1.3em;
}

.buttons_bottom p {
    display: inline;
    position: relative;
    right: 15%;
    font-size: 0.8em;
}

.buttons_bottom div {
    width: auto;
}

.buttons_bottom button {
    display: inline;
    width: 30%;
    margin: 5% 1% 0 0;
    font-weight: 700;
    border: 1px solid grey;
    border-radius: 7px;
}

.buttons_bottom button:hover {
    color: red;
    cursor: pointer;
    font-size: 0.7em;
}

section.buttonsDiv {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 0.9em;
    font-weight: 700;
}

div.buttonsDiv:first-child {
    width: 30%;
    position: relative;
    left: 62%;
    word-break: keep-all;
}

div.buttonsDiv:nth-child(2) {
    width: 30%;
    position: relative;
    word-break: keep-all;
}